<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lemon Protocol</title>

    <%- include('partials/headlinks') %>
</head>
<body class="bg-white dark:bg-[#2A2A2A] dark:text-white font-comfortaa bg-cover h-full">
    <section class="bg-[url('/assets/images/hero-light-mobile.png')] dark:bg-[url('/assets/images/hero-mobile.png')] md:bg-[url('/assets/images/hero-light.png')] md:dark:bg-[url('/assets/images/hero.png')] h-fit bg-cover bg-bottom lg:bg-center">
        <%- include('partials/navbar') %>
        <main class="backdrop-blur-2xl dark:backdrop-blur-xl backdrop-brightness-[1.3] dark:backdrop-brightness-[0.2] bg-white/[0.5] dark:bg-[#2A2A2A]/[0.2] w-full h-full pt-[72px]">
            <div class="min-h-[80vh] sm:h-[90vh] flex w-full pt-[72px] pb-5 sm:pt-0 relative">
                <div class="self-center mx-auto z-10">
                    <p class="max-w-xl mx-auto font-bold text-4xl sm:text-5xl capitalize text-center sm:leading-[60px] mb-6">Pioneer <span class="text-[#AAC900]">liquid staking protocol</span> on the lisk ecosystem</p>
                    <p class="text-center max-w-40 mx-auto mb-8">
                        <a href="https://app.lemonprotocol.xyz" class="block px-4 py-2 text-sm text-white bg-[#8EA700] rounded-full border-2 border-[#8EA700] focus:ring-4 focus:outline-none focus:ring-[#8EA700] dark:bg-[#8EA700] hover:bg-[#8EA700]/[0.9] dark:hover:bg-[#8EA700]/[0.9]">Launch App</a>
                    </p>
                    <div class="flex flex-col sm:flex-row w-full items-center justify-center gap-x-12 gap-y-6 pt-5">
                        <div>
                            <p class="text-xs font-bold text-center mb-2">Total Value Locked</p>
                            <p class="text-[#8EA700] text-2xl font-bold text-center">$142.86M</p>
                        </div>
                        <div class="border-b border-b-gray-900 w-28 sm:border-b-0 sm:border-l sm:border-l-gray-900 sm:w-0 sm:h-14 dark:border-b-white dark:border-l-white"></div>
                        <div>
                            <p class="text-xs font-bold text-center mb-2">Total Users</p>
                            <p class="text-[#8EA700] text-2xl font-bold text-center">60.65K</p>
                        </div>
                        <div class="border-b border-b-gray-900 w-28 sm:border-b-0 sm:border-l sm:border-l-gray-900 sm:w-0 sm:h-14 dark:border-b-white dark:border-l-white"></div>
                        <div>
                            <p class="text-xs font-bold text-center mb-2">Total Market Cap</p>
                            <p class="text-[#8EA700] text-2xl font-bold text-center">TBD</p>
                        </div>
                    </div>
                </div>
                <div class="absolute top-72 left-7 sm:top-36 sm:left-40 -rotate-[20deg]">
                    <img src="/assets/images/Lemon $LMN token.png" alt="" class="w-14 h-14 sm:w-24 sm:h-24">
                </div>              
                <div class="absolute top-96 right-7 sm:top-36 sm:right-40 rotate-[20deg]">
                    <img src="/assets/images/Lemon $LMN token.png" alt="" class="w-14 h-14 sm:w-24 sm:h-24">
                </div>              
            </div>
            <div class="bg-[#8EA700]/[0.3] w-full py-10">
                <p class="text-3xl text-center font-bold mb-8">Ecosystem</p>
                <div class="flex flex-wrap w-full items-center justify-center gap-x-10 sm:gap-x-8 gap-y-5 px-10">
                    <div>
                        <img src="/assets/images/ethereum-eth-logo 1.png" alt="" class="dark:hidden w-9 h-16 sm:w-16 sm:h-24">
                        <img src="/assets/images/ethereum-eth-dark.png" alt="" class="hidden dark:inline w-9 h-16 sm:w-16 sm:h-24">
                    </div>
                    <div>
                        <img src="/assets/images/Lisk.png" alt="" class="dark:hidden w-24 h-9 sm:w-36 sm:h-14">
                        <img src="/assets/images/Lisk Dark.png" alt="" class="hidden dark:inline w-24 h-9 sm:w-36 sm:h-14">
                    </div>
                    <div>
                        <img src="/assets/images/polygon-matic-logo 1.png" alt="" class="dark:hidden w-12 h-11 sm:w-20 sm:h-[70px]">
                        <img src="/assets/images/Polygon-dark.png" alt="" class="hidden dark:inline w-12 h-11 sm:w-20 sm:h-[70px]">
                    </div>
                    <div>
                        <img src="/assets/images/optimism-ethereum-op-logo 1.png" alt="" class="w-12 h-12 sm:w-20 sm:h-20">
                    </div>
                    <div>
                        <img src="/assets/images/Linea_logo_white 1.png" alt="" class="dark:hidden w-24 h-6 sm:w-40 sm:h-12">
                        <img src="/assets/images/Linea_logo_dark.png" alt="" class="hidden dark:inline w-24 h-6 sm:w-40 sm:h-12">
                    </div>
                </div>
            </div>
        </main>    
    </section>

    <section>
        <div class="py-24 relative px-5">
            <div class="">
                <p class="font-bold text-4xl text-[#8EA700] text-center mb-6 z-30">Secure the EVM</p>
                <p class="text-center max-w-lg mx-auto text-xl z-30">Contribute to the safety and stability of the EVM ecosystem and earn boosted rewards.</p>
            </div>
            <div class="hidden lg:block absolute top-16 left-52 z-0">
                <img src="/assets/images/Union.png" alt="">
            </div>
            <div class="hidden lg:block absolute top-48 right-52 z-0">
                <img src="/assets/images/Union (1).png" alt="">
            </div>
        </div>
        <div class="py-20 px-3 sm:px-5 md:px-10 lg:px-20">
            <p class="font-bold text-4xl mb-14 px-2">Core Features</p>
            <div class="flex flex-wrap w-full gap-10 items-center justify-center">
                <div class="py-10 px-14 items-center flex flex-col border border-[#F1DD2B] rounded-xl hover:translate-x-4 hover:-translate-y-4 transition-all">
                    <img src="/assets/images/Juice.png" alt="" class="w-28 h-36">
                    <p class="font-bold text-xl text-center mt-3">Liquid Staking</p>
                </div>
                <div class="py-10 px-14 items-center flex flex-col border border-[#F1DD2B] rounded-xl hover:translate-x-4 hover:-translate-y-4 transition-all">
                    <img src="/assets/images/Lemon $LMN token.png" alt="" class="w-32 h-32">
                    <p class="font-bold text-xl text-center mt-3">Global Swapping</p>
                </div>
                <div class="py-10 px-14 items-center flex flex-col border border-[#F1DD2B] rounded-xl hover:translate-x-4 hover:-translate-y-4 transition-all">
                    <img src="/assets/images/Lemon Fruits.png" alt="" class="w-36 h-36">
                    <p class="font-bold text-xl text-center mt-3">Lemon Farming</p>
                </div>
            </div>
        </div>
        <div class="py-24 px-3 sm:px-5 md:px-10">
            <p class="font-bold text-4xl mb-14 px-2">Roadmap</p>
            <div class="flex flex-wrap w-full gap-x-0 gap-y-8 sm:gap-y-16 items-start justify-center">
                <div class="flex flex-row sm:flex-col w-full sm:w-fit gap-x-6 gap-y-8 px-3">
                    <img src="/assets/images/vertical line.png" alt="" class="sm:hidden">
                    <img src="/assets/images/horizontal line.png" alt="" class="hidden sm:inline">
                    <div class="grow">
                        <p class="font-bold text-3xl ">2023 Q4</p>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Testnet Launch</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row sm:flex-col w-full sm:w-fit gap-x-6 gap-y-8 px-3">
                    <img src="/assets/images/vertical line.png" alt="" class="sm:hidden">
                    <img src="/assets/images/horizontal line.png" alt="" class="hidden sm:inline">
                    <div class="grow">
                        <p class="font-bold text-3xl ">2023 Q4</p>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Testnet Launch</p>
                        </div>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Public Sale (MITO Finance)</p>
                        </div>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Testnet Launch</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row sm:flex-col w-full sm:w-fit gap-x-6 gap-y-8 px-3">
                    <img src="/assets/images/vertical line.png" alt="" class="sm:hidden">
                    <img src="/assets/images/horizontal line.png" alt="" class="hidden sm:inline">
                    <div class="grow">
                        <p class="font-bold text-3xl ">2023 Q4</p>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Testnet Launch</p>
                        </div>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Increase 3rd-Party Adoption</p>
                        </div>
                    </div>
                </div>
                <div class="flex flex-row sm:flex-col w-full sm:w-fit gap-x-6 gap-y-8 px-3">
                    <img src="/assets/images/vertical line.png" alt="" class="sm:hidden">
                    <img src="/assets/images/horizontal line.png" alt="" class="hidden sm:inline">
                    <div class="grow">
                        <p class="font-bold text-3xl ">2023 Q4</p>
                        <div class="flex bg-[#AAC900]/[0.1] rounded-full px-8 py-4 items-center mt-4">
                            <img src="/assets/images/tick-circle.png" alt="">
                            <p class="text-[#8EA700] text-sm ps-2">Testnet Launch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-24 px-3 sm:px-5 md:px-10 bg-[#FFFFED] max-w-6xl mx-4 md:mx-auto rounded-2xl my-20">
            <div class="flex flex-col md:flex-row items-center justify-center gap-10">
                <div class="w-full md:w-1/2 px-5 order-2 md:order-1 dark:text-black">
                    <p class="text-4xl font-bold mb-4">The $LMN Token</p>
                    <p class="text-sm max-w-sm mb-6">$LMN is the primary utility and governance token of Lemon Protocol</p>
                    <div class="flex flex-col md:flex-row justify-start gap-x-4 gap-y-5 items-center">
                        <div class="border border-[#F1DD2B] rounded-2xl px-4 py-6 w-full">
                            <p class="font-bold mb-3 text-sm">Keep Earning</p>
                            <p class="text-xs text-wrap">Stake your $LMN for additional $LMN rewards</p>
                        </div>
                        <div class="border border-[#F1DD2B] rounded-2xl px-4 py-6 w-full">
                            <p class="font-bold mb-3 text-sm">Lemon Wars</p>
                            <p class="text-xs text-wrap">Get your voice heard and vote on your next yield exposure!</p>
                        </div>
                    </div>
                    
                    <div class="border border-[#F1DD2B] rounded-2xl px-4 py-6 mt-5 md:w-full">
                        <p class="font-bold mb-3 text-sm">Yes, Keep Earning</p>
                        <p class="text-xs">Stake your $LMN for up to 30% of revenue share of all Lemon's incoming revenue</p>
                    </div>
                </div>
                <div class="order-1 md:order-2 mb-8 sm:mb-0">
                    <img src="/assets/images/Lemon $LMN token.png" alt="" class="w-80 h-80 mb-1 animate-bounce">
                    <div class="flex justify-start items-center bg-[#556400] gap-1 h-16 rounded-xl px-6 mb-1">
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-right"></div>
                    </div>
                    <div class="flex justify-end items-center bg-[#556400] gap-1 h-16 rounded-xl px-6">
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                        <div class="w-1 h-14 bg-[#FFFFCD] rounded-xl animate-wiggle-left"></div>
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <%- include('partials/footer') %>
</body>
</html>